@import variables

.sectionServices
  padding: 80px 0 50px

  &__services
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0 -15px

  &__serviceItem
    padding-bottom: 30px
    flex-basis: 360px
    margin: 0 15px
    // flex-grow: 1

